@{
    ViewBag.Title = "Home Page";
}

<div id="homePage">
    <div class="landing-text">
        <h1>@mfPortfolio.Resources.HomeTexts.homePage_h1</h1>
        <h3>@mfPortfolio.Resources.HomeTexts.homePage_h3</h3>
    </div>
</div>

<div class="padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <img src="~/Resources/Images/authorPhoto.png">
            </div>
            <div class="col-sm-6 text-center">
                <h2>@mfPortfolio.Resources.HomeTexts.autor_details</h2>
                <p>@mfPortfolio.Resources.HomeTexts.authorDetailSection_p</p>
            </div>
        </div>
    </div>
</div>

<div id="fixed">

</div>

<div class="padding">
    <div class="container">
        <div class="row">
            <h2>@mfPortfolio.Resources.HomeTexts.projects_header</h2>
            <div class="col-lg-3 col-mm-3 col-sm-6 col-xs-12">
                <img src="~/Resources/Images/memoryGameProject.png" class="img-responsive" />
            </div>
            <div class="col-lg-3 col-mm-3 col-sm-6 col-xs-12">
                <h4>@mfPortfolio.Resources.HomeTexts.projectName_MemoryGame</h4>
                <p>@mfPortfolio.Resources.HomeTexts.projectDesc_MemoryGame</p>

                <a href="http://sggwpwimemogame.cba.pl/ " class="btn btn-default btn-lg">
                    @mfPortfolio.Resources.HomeTexts.button_goToProject
                </a>
            </div>
            <div class="col-lg-3 col-mm-3 col-sm-6 col-xs-12">
                <img src="~/Resources/Images/singlePageApplicationProject.png" class="img-responsive" />
            </div>
            <div class="col-lg-3 col-mm-3 col-sm-6 col-xs-12">
                <h4>@mfPortfolio.Resources.HomeTexts.projectName_SinglePageApp</h4>
                <p>@mfPortfolio.Resources.HomeTexts.projectDesc_SinglePageApp</p>

                <a href="http://singepageappsggwpwi.cba.pl/ " class="btn btn-default btn-lg">
                    @mfPortfolio.Resources.HomeTexts.button_goToProject
                </a>
            </div>
        </div>
    </div>
</div>